{% extends 'base.html' %}
{% block link_css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css') }}">{% endblock %}

{% block body %}

<form href="{{ url_for('auth.cadastro') }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label for="usuario">Usuário</label>
    <input
        type="text"
        id="username"
        name="usuario"
        required
    >

    <label for="senha">Senha</label>
    <input
        type="password"
        id="password"
        name="senha"
        required
    >

    <button type="submit">Cadastrar</button>

</form>

{% endblock %}
