{% extends 'base_auth.html' %}
{% block title %}
Login
{% endblock%}
{% block link_css %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}

    <form action="{{ url_for('auth.login') }}" class="form-auth" method="POST">
        <a  href="{{ url_for('main.homepage') }}" class="bnt-voltar" title="Voltar">
            <i class="fa-solid fa-arrow-left-long"></i>
        </a>
        <img src="{{ url_for('static', filename='imgs/Logo_dark.svg') }}" alt="Logo">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div><input type="text" name="usuario" placeholder="Digite seu nome de usuário" required></div>
        <div><input type="password" name="senha" placeholder="Digite sua senha" required></div>
        <input type="submit" value="Login" id="botao-login">
    </form>
{% endblock %}
