{% extends 'base.html' %}
{% block link_css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/selection.css') }}"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">{% endblock %}

{% block nav_links %}
{% if session.get('usuario') %}
<ul class="profile-bar">
    <li><a href="{{ url_for('user.perfil') }}"><i id="profile-icon" class="fa-solid fa-circle-user"></i></a></li>
</ul>
{% endif %}
{% endblock %}



{% block body %}

<form action="{{ url_for('main.adicionar_componente')}}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="container-geral">

        {% for categoria in components.keys() %}
            {% if categoria != 'rams' %}

                <div class="containers-components"> 
                    <h2 class="nome-categoria">{{ nomes[categoria] }}</h2>
                    <div class='listagem-components'>
                    {% for component in components[categoria].keys() %}
                        <input type="radio" id="{{ component }}" name="{{ categoria }}" value="{{ component }}">
                        <label for="{{ component }}">{{ component }}</label>
                    {% endfor %}
                    </div>
                </div>

                {% else %}

                <div class="containers-components-ram">

                    <h2 class="nome-categoria">{{ nomes[categoria] }}</h2>
                    {% for select in components[categoria].keys() %}
                        <div class='listagem-components-ram'>
                        <h3 class="nome-categoria-ram"> {{ select }}</h3>
                            <select name="{{ select }}">
                                <option value=""  disabled selected hidden> - </option>
                                {% for option in components[categoria][select] %}
                                <option value="{{ option }}">{{ option }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
                    {% endfor %}
    </div>

<div class="btns">
    <input class="submit-btn" type="submit" value="Selecionar">
    <input class="reset-btn" type="reset" value="Limpar">
</div>

</form>

<div class="exibicao">
    <div class="sessao-dinamica">
        <table class="table-session">
            <thead>
                <tr>
                    <th>Componente</th>
                    <th>Escolha</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>Processador</td>
                    <td>{{ escolha.cpu_user or '-' }}</td>
                    <td class="cln_remover_item">
                    {% if escolha.cpu_user != None %}
                        <form action="{{ url_for('main.remover_componente') }}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="tipo_componente" value="cpu">
                            <button type="submit" class="btn_remover_item"><i class="fa-solid fa-trash-can"></i></button>
                        </form>
                    {% endif %}
                    </td>
                </tr>

                <tr>
                    <td>Placa de Vídeo</td>
                    <td>{{ escolha.gpu_user or '-' }}</td>
                    <td class="cln_remover_item">
                    {% if escolha.gpu_user != None %}
                        <form action="{{ url_for('main.remover_componente') }}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="tipo_componente" value="gpu">
                            <button type="submit" class="btn_remover_item"><i class="fa-solid fa-trash-can"></i></button>
                        </form>
                    {% endif %}
                    </td>
                </tr>

                <tr>
                    <td>Placa-mãe</td>
                    <td>{{ escolha.motherboard_user or '-' }}</td>
                    <td class="cln_remover_item">
                    {% if escolha.motherboard_user != None %}
                        <form action="{{ url_for('main.remover_componente') }}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="tipo_componente" value="motherboard">
                            <button type="submit" class="btn_remover_item"><i class="fa-solid fa-trash-can"></i></button>
                        </form>
                    {% endif %}
                    </td>
                </tr>

                <tr>
                    <td>Memória RAM</td>
                    <td>
                        {% if escolha.ram_user %}
                            {% if escolha.ram_user.tamanho != None and escolha.ram_user.tipo != None and escolha.ram_user.quantidade != None %}
                            {{ escolha.ram_user.tamanho }}
                            {{ escolha.ram_user.tipo }}
                            ({{ escolha.ram_user.quantidade }}x)
                            {% else %}
                            -
                            {% endif %}
                        {% endif %}
                        </td>
                        <td class="cln_remover_item">
                        {% if escolha.ram_user.tamanho != None %}
                            <form action="{{ url_for('main.remover_componente') }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <input type="hidden" name="tipo_componente" value="ram">
                                <button type="submit" class="btn_remover_item"><i class="fa-solid fa-trash-can"></i></button> 
                            </form>
                        {% endif %}
                        </td>
                </tr>
            </tbody>
        </table>
        <div class="btns-session">
            <form action="{{ url_for('main.testar_compatibilidade') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input class="btn-testar-compatibilidade" type="submit" value="Verificar Compatibilidade"> 
            </form>
            <form action="{{ url_for('user.salvar')}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input class="btn-salvar-config" type="submit" value="Salvar Configuração">
            </form>
        </div>
    </div>

    <div class="resultado">
        <p class="aviso">AVISO DE CONFIGURAÇÃO</p>
    {% if get_flashed_messages() %}
    {% if get_flashed_messages()[0] == 'ecompativel' %}   
    <h2 class="compativel">As escolhas do usuário são <span class="span-compativel">compatíveis!</span></h2>
    {% else %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% if messages[0][:2] != '02' and messages[0][:2] != '01' and messages[0][:2] != '00' and messages[0][:2] != '08' and messages[0] != 'Usuário logado com sucesso!' and messages[0] != 'Usuário ou senha incorretos!' %}
            <h2 class="incompativel">As escolhas do usuário são <span class="span-incompativel">incompatíveis!</span></h2>
            <div class="relatorio">
            <ul>
                {% for message in messages %}
                <li>{% if message[:2] in ['03','04','05','06','07'] %}<span id="space"><i id="icon-x" class="fa-solid fa-xmark"></i></span>{{ message[2:] }}{% endif %}</li>
                {% endfor %}
            </ul>
            </div>
            {% endif %}
            <div class="erros-de-envio">
            {% if messages[0][:2] == '02' or messages[0][:2] == '01' or messages[0][:2] == '00' or messages[0][:2] == '08' %}
                {% for mensagem in messages %}
                    {% if messages[0][:2] != '08' %}
                        <p class="erro">{{ mensagem[2:] }}</p>
                    {% else %}
                        <p class="sucesso">{{ mensagem[2:] }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </div>
        {% endif %}
        {% endwith %}
    {% endif %}
    {% endif %}
    </div>
</div>
{% endblock %}
