@import url('base.css'); /* Não pode faltar o CSS da base */

/* Container da tabela */

.bnt-voltar{
    color: white;
    position: absolute;
    top: 9.5rem;
    left: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #7041cd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.621);
    border: none;
    cursor: pointer;
    opacity: 85%;
}

.bnt-voltar:hover{
    opacity: 50%;
    scale: 1.03;
}

.bnt-voltar:active{
    scale: 0.96;
    transform: translateY(1px);
    transition: 0.05s ease-in-out;
}
.table-container {
    width: 90%;
    margin: 30px auto;
    background: rgba(15, 10, 40, 0.7);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(91, 46, 255, 0.2);
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    color: white;
}

/* Cabeçalho */
thead {
    background: rgba(91, 46, 255, 0.25);
}

th {
    padding: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    text-align: start;
}

/* Linhas */
td {
    padding: 14px 16px;
    border-bottom: 1px solid rgba(255,255,255,0.08);
}

/* Hover */
tbody tr:hover {
    background: rgba(91, 46, 255, 0.15);
    transition: 0.2s;
}

/* Preço */
td:last-child {
    color: #b98cff;
    font-weight: bold;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 3rem 0 30.8rem;
}

.iconarrow {
    width: 3rem;
    height: 3rem;
}

.page-info {
    color: white;
    font-weight: bold;
}

/* Formulário de filtragem */
.filtros{
    width:90%;
    margin:25px auto;

    display:flex;
    justify-content:flex-end;
}

.filtros form{
    display:flex;
    gap:10px;
}

.filtros select,
.filtros button{

    background:#25115a;
    color:white;

    border:1px solid #6a35ff;
    border-radius:8px;

    padding:10px 15px;

    font-size:15px;

    margin-right: 10px;
}

.filtros button{

    cursor:pointer;
    transition:.2s;
}

.filtros button:hover{
    background:#6a35ff;
}
