{% extends 'base.html' %}
{% block link_css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/selection.css') }}">{% endblock %}

{% block body %}

<form action="{{ url_for('adicionar_componente')}}" method="POST">
    <div class="container-geral">

        {% for categoria in components.keys() %}
            {% if categoria != 'rams' %}

                <div class="containers-components"> 
                    <h2 class="nome-categoria">{{ nomes[categoria] }}</h2>
                    <div class='listagem-components'>
                    {% for component in components[categoria].keys() %}
                        <input type="radio" id="{{ component }}" name="{{ categoria }}" value="{{ component }}">
                        <label for="{{ component }}">{{ component }}</label>
                    {% endfor %}
                    </div>
                </div>

                {% else %}

                <div class="containers-components-ram">

                    <h2 class="nome-categoria">{{ nomes[categoria] }}</h2>
                    {% for select in components[categoria].keys() %}
                        <div class='listagem-components-ram'>
                        <h3 class="nome-categoria-ram"> {{ select }}</h3>
                            <select name="{{ select }}">
                                {% for option in components[categoria][select] %}
                                <option value="{{ option }}">{{ option }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
                    {% endfor %}
    </div>

<div class="btns">
    <input class="submit-btn" type="submit" value="Selecionar">
    <input class="reset-btn" type="reset" value="Limpar">
</div>

</form>

{% endblock %}



