{% extends 'base.html' %}
{% block link_css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/selection.css') }}">{% endblock %}

{% block body %}

<div class="container-geral">
    <form action="" method="POST">

                <h2 class="nome-categoria">nome-categoria</h2>
                <div class="containers-components">
                    <div class='listagem-components'>
                        <input type="radio" id="" name="" value="">
                        <label for=''>algo</label>
                    </div>
                    <div class="btns">
                        <input class="submit-btn" type="submit" value="Selecionar">
                        <input class="reset-btn" type="reset" value="Limpar">
                    </div>
                </div>
    </form>
</div>

{% endblock %}
