{% extends 'base.html' %}
{% block link_css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/selection.css') }}">{% endblock %}

{% block body %}

 <form class="container-geral" action="{{ url_for('adicionar_componente')}}" method="POST">

        {% for categoria in components.keys() %}
            {% if categoria != 'rams' %}

                <div class="containers-components"> 
                    <h2 class="nome-categoria">{{ nomes[categoria] }}</h2>
                    <div class='listagem-components'>
                    {% for component in components[categoria].keys() %}
                        <input type="radio" id="{{ component }}" name="{{ categoria }}" value="{{ component }}">
                        <label for="{{ component }}">{{ component }}</label>
                    {% endfor %}
                    </div>
                </div>

                {% else %}

                <div class="containers-components-ram">

                    <h2 class="nome-categoria">{{ nomes[categoria] }}</h2>
                    {% for select in components[categoria].keys() %}
                        <div class='listagem-components-ram'>
                        <h3 class="nome-categoria-ram"> {{ select }}</h3>
                            <select name="{{ select }}">
                                {% for option in components[categoria][select] %}
                                <option value="{{ option }}">{{ option }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
                    {% endfor %}

    <div class="btns">
        <input class="submit-btn" type="submit" value="Selecionar">
        <input class="reset-btn" type="reset" value="Limpar">
    </div>

</form>

<div class="resumo-escolhas">
    <h3>Seu Computador Atual:</h3>
    <p><strong>Processador:</strong> {{ escolha.cpu_user or 'Não selecionado' }}</p>
    <p><strong>Placa de Vídeo:</strong> {{ escolha.gpu_user or 'Não selecionado' }}</p>
    <p><strong>Placa-Mãe:</strong> {{ escolha.motherboard_user or 'Não selecionado' }}</p>
    
    <h4>Memória RAM:</h4>
    <ul>
        <li>Tamanho: {{ escolha.ram_user.tamanho or '0' }}</li>
        <li>Tipo: {{ escolha.ram_user.tipo or '-' }}</li>
        <li>Quantidade: {{ escolha.ram_user.quantidade or '0' }}</li>
    </ul>
</div>


{% endblock %}



